/*Eric Meyer's reset CSS
Source: Google */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* NAVIGATION BAR */
.navbar {
    display: flex;
    border-bottom: 1px solid black;
}

.navbar-1 {
    flex: 1;
}

.navbar-2 {
    flex: 3;
}

#logo-revou-navbar {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 40px;
}

.menu-navbar {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.menu-navbar > li {
    border: 1px solid black;
    padding: 10px 40px 10px 40px;
    list-style-type:none;
    background-color: gainsboro;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-content {
    display: flex;
}

/*HOME*/
.home-whole {
    display: flex;
}

.judul-awal {
    text-align: center;
}

.judul-awal > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.judul-awal > p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-kiri {
    flex: 1.5;
}


.home-kiri-ats {
    display: grid;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

#gbr-kiri-osaka {
    width: 500px;
    object-fit: cover;
    aspect-ratio: 1,5/1;
}

.material-symbols-outlined {
    background-color: gainsboro;
    border-radius: 50px;
    padding: 5px;
    
}

.img-review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    margin: 10px 0px 10px 0px;
    /* border-bottom: 2px solid gray; */
}

.personal-profile {
    margin: 0px 0px 0px 10px;
}

.profile-name {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-occupation {
    font-style: italic;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    width: 40%;
}


/* HOME KANAN */


.home-kanan {
    flex: 1;
}

.container-home-kanan {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin-right: 300px;
    display: grid;
    justify-content: center;
    background-color: rgb(236, 236, 236);

}

.container-home-kanan > h1{
    margin: 10px 0px 0px 10px;
    font-weight: bold;
    font-size: 20px;
}

.container-home-kanan > p{
    margin: 10px 0px 50px 10px;
}

.container-home-kanan > form{
    margin: 10px;
}

#input-name {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

#input-email {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

#interest-option {
    height: 36px;
    width: 258px;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

#button-send {
    height: 36px;
    width: 258px;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px 0px 10px 10px;
    background-color: darkblue;
}
